{
  "openapi": "3.0.3",
  "info": {
    "title": "Trugen MCP API",
    "version": "1.0.0",
    "description": "OpenAPI specification for MCP endpoint"
  },
  "servers": [
    {
      "url": "https://api.trugen.ai/v1"
    }
  ],
  "paths": {
    "/mcp": {
      "get": {
        "summary": "Get MCP configurations",
        "description": "Fetches a list of available MCP configurations. Requires `X-API-Key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
                      },
                      "name": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "description": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "type": {
                        "type": "string",
                        "example": "sse"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}"
                      },
                      "cache_tools_list": {
                        "type": "boolean",
                        "example": true
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"I am still waiting for the information.\"}, \"on_error\": {\"message\": \"Failed to search the web for the information.\"}, \"on_start\": {\"message\": \"\"}, \"on_success\": {\"message\": \"\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "type",
                      "arguments",
                      "cache_tools_list",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Create MCP",
        "description": "Create a new MCP configuration.",
        "operationId": "createMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 5",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "MCP created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/{id}": {
      "delete": {
        "summary": "Delete MCP",
        "description": "Deletes an MCP configuration by its ID. Requires `X-API-Key` authentication.",
        "operationId": "deleteMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP configuration",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "MCP deleted successfully (no content returned)"
          },
          "400": {
            "description": "Invalid MCP ID"
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key"
          },
          "404": {
            "description": "MCP not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "summary": "Update MCP",
        "description": "Updates an existing MCP configuration by its ID. Requires `X-API-Key` authentication.",
        "operationId": "updateMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP configuration",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 3 update",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "cache_tools_list": {
                      "type": "boolean"
                    },
                    "event_messages": {
                      "type": "object"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key"
          },
          "404": {
            "description": "MCP not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "summary": "Get MCP by ID",
        "description": "Fetch a single MCP configuration by its unique ID. Requires `X-API-Key` authentication.",
        "operationId": "getMCPById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP configuration",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP object successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "dcf04568-6bf5-40cf-bd6f-d68e4cb5b216"
                    },
                    "name": {
                      "type": "string",
                      "example": "MCP 5"
                    },
                    "description": {
                      "type": "string",
                      "example": "You are a helpful assistant to MCP"
                    },
                    "type": {
                      "type": "string",
                      "example": "MCP"
                    },
                    "arguments": {
                      "type": "string",
                      "example": "[{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}]"
                    },
                    "cache_tools_list": {
                      "type": "boolean",
                      "example": true
                    },
                    "event_messages": {
                      "type": "string",
                      "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "arguments",
                    "cache_tools_list",
                    "event_messages",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key"
          },
          "404": {
            "description": "MCP not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/agent": {
      "post": {
        "summary": "Create Agent Configuration",
        "description": "Create a new Trugen AI agent configuration with tools, MCP servers, and knowledge base mappings.",
        "operationId": "createAgentConfig",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatars": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    }
                  },
                  "agent_name": {
                    "type": "string"
                  },
                  "agent_system_prompt": {
                    "type": "string"
                  },
                  "tools": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled"
                      ]
                    }
                  },
                  "config": {
                    "type": "object",
                    "description": "Agent configuration parameters including LLMs, TTS, STT, MCP servers, and prompts.",
                    "properties": {
                      "timeout": {
                        "type": "integer"
                      },
                      "avatar_data_source": {
                        "type": "string"
                      },
                      "frame_rate": {
                        "type": "integer"
                      },
                      "silence_padding": {
                        "type": "number"
                      },
                      "is_face_enhancer_enabled": {
                        "type": "boolean"
                      },
                      "persona_name": {
                        "type": "string"
                      },
                      "persona_prompt": {
                        "type": "string"
                      },
                      "scene_context_engine": {
                        "type": "object",
                        "properties": {
                          "on_snapshot_timeout": {
                            "type": "integer"
                          },
                          "vision_llm": {
                            "type": "string"
                          },
                          "llm_prompts": {
                            "type": "object"
                          }
                        }
                      },
                      "query_response_timeout": {
                        "type": "object"
                      },
                      "scene_analyzer_prompt": {
                        "type": "object"
                      },
                      "warning_exit_message": {
                        "type": "object"
                      },
                      "exit_message": {
                        "type": "object"
                      },
                      "welcome_message": {
                        "type": "object"
                      },
                      "eye_mask_replacement": {
                        "type": "boolean"
                      },
                      "audio_features_type": {
                        "type": "string"
                      },
                      "audio_features_window_length": {
                        "type": "integer"
                      },
                      "config": {
                        "type": "object"
                      },
                      "knowledge_base": {
                        "type": "object"
                      },
                      "mcp_servers": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  },
                  "knowledge_base": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tool": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "mcp": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "agent_name",
                  "config",
                  "is_active"
                ]
              },
              "example": {
                "avatars": {
                  "tool1": "enabled",
                  "tool2": "disabled"
                },
                "agent_name": "New Agent Config",
                "agent_system_prompt": "You are a helpful assistant",
                "tools": {
                  "tool1": "enabled",
                  "tool2": "disabled"
                },
                "config": {
                  "timeout": 240,
                  "avatar_data_source": "avatar-inference-data/",
                  "frame_rate": 25,
                  "silence_padding": 0.05,
                  "is_face_enhancer_enabled": true,
                  "persona_name": "pk_male_1",
                  "persona_prompt": "INTERNAL VARIABLES: ...",
                  "scene_context_engine": {
                    "on_snapshot_timeout": 3,
                    "vision_llm": "qwen2.5vl:7b"
                  }
                },
                "is_active": true,
                "knowledge_base": [
                  {
                    "id": "4a0365e4-ced5-42f0-8933-b6880a0ce044",
                    "name": "new kb 123"
                  },
                  {
                    "id": "b5a2f77a-2bbf-4cc4-8edf-1ccc90b6effd",
                    "name": "greg"
                  }
                ],
                "tool": [
                  {
                    "id": "0ea1fa09-4681-4068-8437-84ae6907b900",
                    "name": "New Tool 2"
                  }
                ],
                "mcp": [
                  {
                    "id": "86854676-1770-45d4-8820-859657c442ec",
                    "name": "MCP 4"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent configuration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "ed691a62-b62b-461f-a8d9-33195b9f7dbf",
                  "message": "Agent configuration created successfully"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}