{
  "openapi": "3.0.3",
  "info": {
    "title": "Avatar API",
    "description": "API to fetch avatar information",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.trugen.ai/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/avatar": {
      "get": {
        "summary": "Get avatar list",
        "description": "Retrieves available avatars. Requires an `X-API-Key` header.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of avatars retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "avatar_12345"
                      },
                      "name": {
                        "type": "string",
                        "example": "John Doe"
                      },
                      "profile_pic": {
                        "type": "string",
                        "format": "uri",
                        "example": "http://localhost:3077/uploads/avatar_12345.png"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-29T10:15:30Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – API key missing or invalid"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}
