{
  "openapi": "3.0.3",
  "info": {
    "title": "Trugen MCP API",
    "version": "1.0.0",
    "description": "OpenAPI specification for MCP endpoint"
  },
  "servers": [
    {
      "url": "https://silly-boats-yawn.loca.lt/v1"
    }
  ],
  "paths": {
    "/mcp": {
      "get": {
        "summary": "Get MCP configurations test",
        "description": "Fetches a list of available MCP configurations. Requires `X-API-Key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
                      },
                      "name": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "description": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "type": {
                        "type": "string",
                        "example": "sse"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}"
                      },
                      "cache_tools_list": {
                        "type": "boolean",
                        "example": true
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"I am still waiting for the information.\"}, \"on_error\": {\"message\": \"Failed to search the web for the information.\"}, \"on_start\": {\"message\": \"\"}, \"on_success\": {\"message\": \"\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "type",
                      "arguments",
                      "cache_tools_list",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
